/* ===== 14x14 icons ===== */



.iAbacus { background: url(../imgs/icons/dark/abacus.png) no-repeat 12px; }

.iAdd { background: url(../imgs/icons/dark/add.png) no-repeat 12px; }

.iAddressBook { background: url(../imgs/icons/dark/addressBook.png) no-repeat 12px; }

.iAdminUser { background: url(../imgs/icons/dark/adminUser.png) no-repeat 12px; }

.iAdminUser2 { background: url(../imgs/icons/dark/adminUser2.png) no-repeat 12px; }

.iAirplane { background: url(../imgs/icons/dark/airplane.png) no-repeat 12px; }

.iAlarm { background: url(../imgs/icons/dark/alarm.png) no-repeat 12px; }

.iAlert { background: url(../imgs/icons/dark/alert.png) no-repeat 12px; }

.iAlert2 { background: url(../imgs/icons/dark/alert2.png) no-repeat 12px; }

.iAndroid { background: url(../imgs/icons/dark/android.png) no-repeat 12px; }

.iArchive { background: url(../imgs/icons/dark/archive.png) no-repeat 12px; }

.iArrowDown { background: url(../imgs/icons/dark/arrowDown.png) no-repeat 12px; }

.iArrowLeft { background: url(../imgs/icons/dark/arrowLeft.png) no-repeat 12px; }

.iArrowRight { background: url(../imgs/icons/dark/arrowRight.png) no-repeat 12px; }

.iArrowUp { background: url(../imgs/icons/dark/arrowUp.png) no-repeat 12px; }



.iBag { background: url(../imgs/icons/dark/bag.png) no-repeat 12px; }

.iBaloons { background: url(../imgs/icons/dark/baloons.png) no-repeat 12px; }

.iBandaid { background: url(../imgs/icons/dark/bandaid.png) no-repeat 12px; }

.iBasket { background: url(../imgs/icons/dark/basket.png) no-repeat 12px; }

.iBasket2 { background: url(../imgs/icons/dark/basket2.png) no-repeat 12px; }

.iBattery { background: url(../imgs/icons/dark/battery.png) no-repeat 12px; }

.iBatteryFull { background: url(../imgs/icons/dark/batteryFull.png) no-repeat 12px; }

.iBell { background: url(../imgs/icons/dark/bell.png) no-repeat 12px; }

.iBell2 { background: url(../imgs/icons/dark/bell2.png) no-repeat 12px; }

.iBigBrush { background: url(../imgs/icons/dark/bigBrush.png) no-repeat 12px; }

.iBlackberry { background: url(../imgs/icons/dark/blackberry.png) no-repeat 12px; }

.iBlock { background: url(../imgs/icons/dark/block.png) no-repeat 12px; }

.iBlocks { background: url(../imgs/icons/dark/blocks.png) no-repeat 12px; }

.iBluetooth { background: url(../imgs/icons/dark/bluetooth.png) no-repeat 12px; }

.iBluetooth2 { background: url(../imgs/icons/dark/bluetooth2.png) no-repeat 12px; }

.iBluray { background: url(../imgs/icons/dark/bluray.png) no-repeat 12px; }

.iBook { background: url(../imgs/icons/dark/book.png) no-repeat 12px; }

.iBookLarge { background: url(../imgs/icons/dark/bookLarge.png) no-repeat 12px; }

.iBooks { background: url(../imgs/icons/dark/books.png) no-repeat 12px; }

.iBright { background: url(../imgs/icons/dark/bright.png) no-repeat 12px; }

.iBubbles { background: url(../imgs/icons/dark/bubbles.png) no-repeat 12px; }

.iBubbles2 { background: url(../imgs/icons/dark/bubbles2.png) no-repeat 12px; }

.iBuilding { background: url(../imgs/icons/dark/building.png) no-repeat 12px; }

.iBullsEye { background: url(../imgs/icons/dark/bullsEye.png) no-repeat 12px; }

.iBuzz { background: url(../imgs/icons/dark/buzz.png) no-repeat 12px; }



.iCalc { background: url(../imgs/icons/dark/calc.png) no-repeat 12px; }

.iCamera { background: url(../imgs/icons/dark/camera.png) no-repeat 12px; }

.iCamera2 { background: url(../imgs/icons/dark/camera2.png) no-repeat 12px; }

.iCar { background: url(../imgs/icons/dark/car.png) no-repeat 12px; }

.iCart { background: url(../imgs/icons/dark/cart.png) no-repeat 12px; }

.iCart2 { background: url(../imgs/icons/dark/cart2.png) no-repeat 12px; }

.iCart3 { background: url(../imgs/icons/dark/cart3.png) no-repeat 12px; }

.iCart4 { background: url(../imgs/icons/dark/cart4.png) no-repeat 12px; }

.iCashRegister { background: url(../imgs/icons/dark/cashRegister.png) no-repeat 12px; }

.iCassette { background: url(../imgs/icons/dark/cassette.png) no-repeat 12px; }

.iCat { background: url(../imgs/icons/dark/cat.png) no-repeat 12px; }

.iCd { background: url(../imgs/icons/dark/cd.png) no-repeat 12px; }

.iChair { background: url(../imgs/icons/dark/chair.png) no-repeat 12px; }

.iChart { background: url(../imgs/icons/dark/chart.png) no-repeat 12px; }

.iChart2 { background: url(../imgs/icons/dark/chart2.png) no-repeat 12px; }

.iChart3 { background: url(../imgs/icons/dark/chart3.png) no-repeat 12px; }

.iChart4 { background: url(../imgs/icons/dark/chart4.png) no-repeat 12px; }

.iChart5 { background: url(../imgs/icons/dark/chart5.png) no-repeat 12px; }

.iChart6 { background: url(../imgs/icons/dark/chart6.png) no-repeat 12px; }

.iChart7 { background: url(../imgs/icons/dark/chart7.png) no-repeat 12px; }

.iChart8 { background: url(../imgs/icons/dark/chart8.png) no-repeat 12px; }

.iCheck { background: url(../imgs/icons/dark/check.png) no-repeat 12px; }

.iChemical { background: url(../imgs/icons/dark/chemical.png) no-repeat 12px; }

.iChrome { background: url(../imgs/icons/dark/chrome.png) no-repeat 12px; }

.iClipboard { background: url(../imgs/icons/dark/clipboard.png) no-repeat 12px; }

.iClock { background: url(../imgs/icons/dark/clock.png) no-repeat 12px; }

.iClose { background: url(../imgs/icons/dark/close.png) no-repeat 12px; }

.iCloud { background: url(../imgs/icons/dark/cloud.png) no-repeat 12px; }

.iCloudDownload { background: url(../imgs/icons/dark/cloudDownload.png) no-repeat 12px; }

.iCloudUpload { background: url(../imgs/icons/dark/cloudUpload.png) no-repeat 12px; }

.iCog { background: url(../imgs/icons/dark/cog.png) no-repeat 12px; }

.iCog2 { background: url(../imgs/icons/dark/cog2.png) no-repeat 12px; }

.iCog3 { background: url(../imgs/icons/dark/cog3.png) no-repeat 12px; }

.iCog4 { background: url(../imgs/icons/dark/cog4.png) no-repeat 12px; }

.iCompanies { background: url(../imgs/icons/dark/companies.png) no-repeat 12px; }

.iComputer { background: url(../imgs/icons/dark/computer.png) no-repeat 12px; }

.iCoverflow { background: url(../imgs/icons/dark/coverflow.png) no-repeat 12px; }

.iCreate { background: url(../imgs/icons/dark/create.png) no-repeat 12px; }

.iCup { background: url(../imgs/icons/dark/cup.png) no-repeat 12px; }

.iCut { background: url(../imgs/icons/dark/cut.png) no-repeat 12px; }



.iDayCalendar { background: url(../imgs/icons/dark/dayCalendar.png) no-repeat 12px; }

.iDelicious { background: url(../imgs/icons/dark/delicious.png) no-repeat 12px; }

.iDenied { background: url(../imgs/icons/dark/denied.png) no-repeat 12px; }

.iDialog { background: url(../imgs/icons/dark/dialog.png) no-repeat 12px; }

.iDigg { background: url(../imgs/icons/dark/digg.png) no-repeat 12px; }

.iDigg2 { background: url(../imgs/icons/dark/digg2.png) no-repeat 12px; }

.iDoc { background: url(../imgs/icons/dark/doc.png) no-repeat 12px; }

.iDocs { background: url(../imgs/icons/dark/docs.png) no-repeat 12px; }

.iDownload { background: url(../imgs/icons/dark/download.png) no-repeat 12px; }

.iDownload2 { background: url(../imgs/icons/dark/download2.png) no-repeat 12px; }

.iDownload3 { background: url(../imgs/icons/dark/download3.png) no-repeat 12px; }

.iDribbble { background: url(../imgs/icons/dark/dribbble.png) no-repeat 12px; }

.iDribbble2 { background: url(../imgs/icons/dark/dribbble2.png) no-repeat 12px; }

.iDrive { background: url(../imgs/icons/dark/drive.png) no-repeat 12px; }

.iDropbox { background: url(../imgs/icons/dark/dropbox.png) no-repeat 12px; }

.iDropper { background: url(../imgs/icons/dark/dropper.png) no-repeat 12px; }

.iDrupal { background: url(../imgs/icons/dark/drupal.png) no-repeat 12px; }

.iDvd { background: url(../imgs/icons/dark/dvd.png) no-repeat 12px; }



.iElectricity { background: url(../imgs/icons/dark/electricity.png) no-repeat 12px; }

.iElectroPlug { background: url(../imgs/icons/dark/electroPlug.png) no-repeat 12px; }

.iExcelDoc { background: url(../imgs/icons/dark/excelDoc.png) no-repeat 12px; }

.iExit { background: url(../imgs/icons/dark/exit.png) no-repeat 12px; }

.iExpengine { background: url(../imgs/icons/dark/expengine.png) no-repeat 12px; }

.iExpose { background: url(../imgs/icons/dark/expose.png) no-repeat 12px; }



.iFacebook { background: url(../imgs/icons/dark/facebook.png) no-repeat 12px; }

.iFax { background: url(../imgs/icons/dark/fax.png) no-repeat 12px; }

.iFemaleContour { background: url(../imgs/icons/dark/femaleContour.png) no-repeat 12px; }

.iFemaleSymbol { background: url(../imgs/icons/dark/femaleSymbol.png) no-repeat 12px; }

.iFiles { background: url(../imgs/icons/dark/files.png) no-repeat 12px; }

.iFilmCamera { background: url(../imgs/icons/dark/filmCamera.png) no-repeat 12px; }

.iFilmStrip { background: url(../imgs/icons/dark/filmStrip.png) no-repeat 12px; }

.iFilmStrip2 { background: url(../imgs/icons/dark/filmStrip2.png) no-repeat 12px; }

.iFirefox { background: url(../imgs/icons/dark/firefox.png) no-repeat 12px; }

.iFlag { background: url(../imgs/icons/dark/flag.png) no-repeat 12px; }

.iFlag2 { background: url(../imgs/icons/dark/flag2.png) no-repeat 12px; }

.iFlagFinished { background: url(../imgs/icons/dark/flagFinished.png) no-repeat 12px; }

.iFolder { background: url(../imgs/icons/dark/folder.png) no-repeat 12px; }

.iFootprints { background: url(../imgs/icons/dark/footprints.png) no-repeat 12px; }

.iFountainPen { background: url(../imgs/icons/dark/fountainPen.png) no-repeat 12px; }

.iFrames { background: url(../imgs/icons/dark/frames.png) no-repeat 12px; }

.iFull { background: url(../imgs/icons/dark/full.png) no-repeat 12px; }

.iFull2 { background: url(../imgs/icons/dark/full2.png) no-repeat 12px; }

.iFullscreen { background: url(../imgs/icons/dark/fullscreen.png) no-repeat 12px; }



.iGlobe { background: url(../imgs/icons/dark/globe.png) no-repeat 12px; }

.iGlobe2 { background: url(../imgs/icons/dark/globe2.png) no-repeat 12px; }

.iGmaps { background: url(../imgs/icons/dark/gmaps.png) no-repeat 12px; }

.iGoBack { background: url(../imgs/icons/dark/goBack.png) no-repeat 12px; }

.iGoFull { background: url(../imgs/icons/dark/goFull.png) no-repeat 12px; }

.iGraph { background: url(../imgs/icons/dark/graph.png) no-repeat 12px; }



.iHeart { background: url(../imgs/icons/dark/heart.png) no-repeat 12px; }

.iHd { background: url(../imgs/icons/dark/hd.png) no-repeat 12px; }

.iHd2 { background: url(../imgs/icons/dark/hd2.png) no-repeat 12px; }

.iHd3 { background: url(../imgs/icons/dark/hd3.png) no-repeat 12px; }

.iHeadphones { background: url(../imgs/icons/dark/headphones.png) no-repeat 12px; }

.iHelp { background: url(../imgs/icons/dark/help.png) no-repeat 12px; }

.iHome { background: url(../imgs/icons/dark/home.png) no-repeat 12px; }

.iHome2 { background: url(../imgs/icons/dark/home2.png) no-repeat 12px; }



.iIcecream { background: url(../imgs/icons/dark/icecream.png) no-repeat 12px; }

.iIchat { background: url(../imgs/icons/dark/ichat.png) no-repeat 12px; }

.iImage { background: url(../imgs/icons/dark/image.png) no-repeat 12px; }

.iImage2 { background: url(../imgs/icons/dark/image2.png) no-repeat 12px; }

.iImageList { background: url(../imgs/icons/dark/imageList.png) no-repeat 12px; }

.iImages { background: url(../imgs/icons/dark/images.png) no-repeat 12px; }

.iImages2 { background: url(../imgs/icons/dark/images2.png) no-repeat 12px; }

.iImagesList { background: url(../imgs/icons/dark/imagesList.png) no-repeat 12px; }

.iInbox { background: url(../imgs/icons/dark/inbox.png) no-repeat 12px; }

.iInbox2 { background: url(../imgs/icons/dark/inbox2.png) no-repeat 12px; }

.iIncoming { background: url(../imgs/icons/dark/incoming.png) no-repeat 12px; }

.iInfo { background: url(../imgs/icons/dark/info.png) no-repeat 12px; }

.iIpad { background: url(../imgs/icons/dark/ipad.png) no-repeat 12px; }

.iIphone { background: url(../imgs/icons/dark/iphone.png) no-repeat 12px; }

.iIpodClassic { background: url(../imgs/icons/dark/ipodClassic.png) no-repeat 12px; }

.iIpodNano { background: url(../imgs/icons/dark/ipodNano.png) no-repeat 12px; }



.iJoomla { background: url(../imgs/icons/dark/joomla.png) no-repeat 12px; }



.iKey { background: url(../imgs/icons/dark/key.png) no-repeat 12px; }



.iLadyPurse { background: url(../imgs/icons/dark/ladyPurse.png) no-repeat 12px; }

.iLamp { background: url(../imgs/icons/dark/lamp.png) no-repeat 12px; }

.iLaptop { background: url(../imgs/icons/dark/laptop.png) no-repeat 12px; }

.iLastFM { background: url(../imgs/icons/dark/lastFM.png) no-repeat 12px; }

.iLemonadeStand { background: url(../imgs/icons/dark/lemonadeStand.png) no-repeat 12px; }

.iLightBulb { background: url(../imgs/icons/dark/lightBulb.png) no-repeat 12px; }

.iLike { background: url(../imgs/icons/dark/like.png) no-repeat 12px; }

.iLink { background: url(../imgs/icons/dark/link.png) no-repeat 12px; }

.iLink2 { background: url(../imgs/icons/dark/link2.png) no-repeat 12px; }

.iLinux { background: url(../imgs/icons/dark/linux.png) no-repeat 12px; }

.iList { background: url(../imgs/icons/dark/list.png) no-repeat 12px; }

.iLoading { background: url(../imgs/icons/dark/loading.png) no-repeat 12px; }

.iLogoff { background: url(../imgs/icons/dark/logoff.png) no-repeat 12px; }

.iLocked { background: url(../imgs/icons/dark/locked.png) no-repeat 12px; }

.iLocked2 { background: url(../imgs/icons/dark/locked2.png) no-repeat 12px; }



.iMacos { background: url(../imgs/icons/dark/macos.png) no-repeat 12px; }

.iMagicMouse { background: url(../imgs/icons/dark/magicMouse.png) no-repeat 12px; }

.iMagnify { background: url(../imgs/icons/dark/magnify.png) no-repeat 12px; }

.iMail { background: url(../imgs/icons/dark/mail.png) no-repeat 12px; }

.iMaleContour { background: url(../imgs/icons/dark/maleContour.png) no-repeat 12px; }

.iMaleSymbol { background: url(../imgs/icons/dark/maleSymbol.png) no-repeat 12px; }

.iMap { background: url(../imgs/icons/dark/map.png) no-repeat 12px; }

.iMedicalCase { background: url(../imgs/icons/dark/medicalCase.png) no-repeat 12px; }

.iMegaphone { background: url(../imgs/icons/dark/megaphone.png) no-repeat 12px; }

.iMicrophone { background: url(../imgs/icons/dark/microphone.png) no-repeat 12px; }

.iMightyMouse { background: url(../imgs/icons/dark/mightyMouse.png) no-repeat 12px; }

.iMobile { background: url(../imgs/icons/dark/mobile.png) no-repeat 12px; }

.iMobyPicture { background: url(../imgs/icons/dark/mobyPicture.png) no-repeat 12px; }

.iMoney { background: url(../imgs/icons/dark/money.png) no-repeat 12px; }

.iMoney2 { background: url(../imgs/icons/dark/money2.png) no-repeat 12px; }

.iMonitor { background: url(../imgs/icons/dark/monitor.png) no-repeat 12px; }

.iMonthCalendar { background: url(../imgs/icons/dark/monthCalendar.png) no-repeat 12px; }

.iMouse { background: url(../imgs/icons/dark/mouse.png) no-repeat 12px; }

.iMusic { background: url(../imgs/icons/dark/music.png) no-repeat 12px; }

.iMyspace { background: url(../imgs/icons/dark/myspace.png) no-repeat 12px; }



.iNotebook { background: url(../imgs/icons/dark/notebook.png) no-repeat 12px; }



.iOutgoing { background: url(../imgs/icons/dark/outgoing.png) no-repeat 12px; }



.iPacman { background: url(../imgs/icons/dark/pacman.png) no-repeat 12px; }

.iPaintBrush { background: url(../imgs/icons/dark/paintBrush.png) no-repeat 12px; }

.iPants { background: url(../imgs/icons/dark/pants.png) no-repeat 12px; }

.iPaperclip { background: url(../imgs/icons/dark/paperclip.png) no-repeat 12px; }

.iPaypal { background: url(../imgs/icons/dark/paypal.png) no-repeat 12px; }

.iPaypal2 { background: url(../imgs/icons/dark/paypal2.png) no-repeat 12px; }

.iPaypal3 { background: url(../imgs/icons/dark/paypal3.png) no-repeat 12px; }

.iPdfDoc { background: url(../imgs/icons/dark/pdfDoc.png) no-repeat 12px; }

.iPencil { background: url(../imgs/icons/dark/pencil.png) no-repeat 12px; }

.iPhone { background: url(../imgs/icons/dark/phone.png) no-repeat 12px; }

.iPhone2 { background: url(../imgs/icons/dark/phone2.png) no-repeat 12px; }

.iPhone3 { background: url(../imgs/icons/dark/phone3.png) no-repeat 12px; }

.iPhotos { background: url(../imgs/icons/dark/photos.png) no-repeat 12px; }

.iPiggyBank { background: url(../imgs/icons/dark/piggyBank.png) no-repeat 12px; }

.iPin { background: url(../imgs/icons/dark/pin.png) no-repeat 12px; }

.iPlaneSuitcase { background: url(../imgs/icons/dark/planeSuitcase.png) no-repeat 12px; }

.iPlay { background: url(../imgs/icons/dark/play.png) no-repeat 12px; }

.iPlay2 { background: url(../imgs/icons/dark/play2.png) no-repeat 12px; }

.iPlixi { background: url(../imgs/icons/dark/plixi.png) no-repeat 12px; }

.iPodium { background: url(../imgs/icons/dark/podium.png) no-repeat 12px; }

.iPostcard { background: url(../imgs/icons/dark/postcard.png) no-repeat 12px; }

.iPower { background: url(../imgs/icons/dark/power.png) no-repeat 12px; }

.iPowerBattery { background: url(../imgs/icons/dark/powerBattery.png) no-repeat 12px; }

.iPpDoc { background: url(../imgs/icons/dark/ppDoc.png) no-repeat 12px; }

.iPresentation { background: url(../imgs/icons/dark/presentation.png) no-repeat 12px; }

.iPreview { background: url(../imgs/icons/dark/preview.png) no-repeat 12px; }

.iPriceTag { background: url(../imgs/icons/dark/pricetag.png) no-repeat 12px; }

.iPriceTags { background: url(../imgs/icons/dark/priceTags.png) no-repeat 12px; }

.iPrinter { background: url(../imgs/icons/dark/printer.png) no-repeat 12px; }



.iRadio { background: url(../imgs/icons/dark/radio.png) no-repeat 12px; }

.iRecord { background: url(../imgs/icons/dark/record.png) no-repeat 12px; }

.iRecycle { background: url(../imgs/icons/dark/recycle.png) no-repeat 12px; }

.iRefresh { background: url(../imgs/icons/dark/refresh.png) no-repeat 12px; }

.iRefresh2 { background: url(../imgs/icons/dark/refresh2.png) no-repeat 12px; }

.iRefresh3 { background: url(../imgs/icons/dark/refresh3.png) no-repeat 12px; }

.iRefresh4 { background: url(../imgs/icons/dark/refresh4.png) no-repeat 12px; }

.iRepeat { background: url(../imgs/icons/dark/repeat.png) no-repeat 12px; }

.iRobot { background: url(../imgs/icons/dark/robot.png) no-repeat 12px; }

.iRss { background: url(../imgs/icons/dark/iRss.png) no-repeat 12px; }

.iRuler { background: url(../imgs/icons/dark/ruler.png) no-repeat 12px; }

.iRuler2 { background: url(../imgs/icons/dark/ruler2.png) no-repeat 12px; }

.iRunningMan { background: url(../imgs/icons/dark/runningMan.png) no-repeat 12px; }



.iSafari { background: url(../imgs/icons/dark/safari.png) no-repeat 12px; }

.iScanLabel { background: url(../imgs/icons/dark/scanLabel.png) no-repeat 12px; }

.iSd { background: url(../imgs/icons/dark/sd.png) no-repeat 12px; }

.iSd2 { background: url(../imgs/icons/dark/sd2.png) no-repeat 12px; }

.iSd3 { background: url(../imgs/icons/dark/sd3.png) no-repeat 12px; }

.iSettings { background: url(../imgs/icons/dark/settings.png) no-repeat 12px; }

.iSettings2 { background: url(../imgs/icons/dark/settings2.png) no-repeat 12px; }

.iShirt { background: url(../imgs/icons/dark/shirt.png) no-repeat 12px; }

.iShoppingBag { background: url(../imgs/icons/dark/shoppingBag.png) no-repeat 12px; }

.iShuffle { background: url(../imgs/icons/dark/shuffle.png) no-repeat 12px; }

.iSignal { background: url(../imgs/icons/dark/signal.png) no-repeat 12px; }

.iSignPost { background: url(../imgs/icons/dark/signPost.png) no-repeat 12px; }

.iSkype { background: url(../imgs/icons/dark/skype.png) no-repeat 12px; }

.iSmallBrush { background: url(../imgs/icons/dark/smallBrush.png) no-repeat 12px; }

.iSocks { background: url(../imgs/icons/dark/socks.png) no-repeat 12px; }

.iSound { background: url(../imgs/icons/dark/sound.png) no-repeat 12px; }

.iSpeech { background: url(../imgs/icons/dark/speech.png) no-repeat 12px; }

.iSpeech2 { background: url(../imgs/icons/dark/speech2.png) no-repeat 12px; }

.iStar { background: url(../imgs/icons/dark/star.png) no-repeat 12px; }

.iStats { background: url(../imgs/icons/dark/stats.png) no-repeat 12px; }

.iStop { background: url(../imgs/icons/dark/stop.png) no-repeat 12px; }

.iStopWatch { background: url(../imgs/icons/dark/stopWatch.png) no-repeat 12px; }

.iStrategy { background: url(../imgs/icons/dark/strategy.png) no-repeat 12px; }

.iStrategy2 { background: url(../imgs/icons/dark/strategy2.png) no-repeat 12px; }

.iStumble { background: url(../imgs/icons/dark/stumble.png) no-repeat 12px; }

.iSuitcase { background: url(../imgs/icons/dark/suitcase.png) no-repeat 12px; }

.iSwitcher { background: url(../imgs/icons/dark/switcher.png) no-repeat 12px; }



.iTable { background: url(../imgs/icons/dark/table.png) no-repeat 12px; }

.iTag { background: url(../imgs/icons/dark/tag.png) no-repeat 12px; }

.iTags { background: url(../imgs/icons/dark/tags.png) no-repeat 12px; }

.iTimer { background: url(../imgs/icons/dark/timer.png) no-repeat 12px; }

.iTransfer { background: url(../imgs/icons/dark/transfer.png) no-repeat 12px; }

.iTrash { background: url(../imgs/icons/dark/trash.png) no-repeat 12px; }

.iTravelSuitcase { background: url(../imgs/icons/dark/travelSuitcase.png) no-repeat 12px; }

.iTree { background: url(../imgs/icons/dark/tree.png) no-repeat 12px; }

.iTrolly { background: url(../imgs/icons/dark/trolly.png) no-repeat 12px; }

.iTruck { background: url(../imgs/icons/dark/truck.png) no-repeat 12px; }

.iTumbler { background: url(../imgs/icons/dark/tumbler.png) no-repeat 12px; }

.iTv { background: url(../imgs/icons/dark/tv.png) no-repeat 12px; }

.iTwitter { background: url(../imgs/icons/dark/twitter.png) no-repeat 12px; }

.iTwitter2 { background: url(../imgs/icons/dark/twitter2.png) no-repeat 12px; }



.iUmbrella { background: url(../imgs/icons/dark/radio.png) no-repeat 12px; }

.iUnderConstruction { background: url(../imgs/icons/dark/underConstruction.png) no-repeat 12px; }

.iUnlocked { background: url(../imgs/icons/dark/unlocked.png) no-repeat 12px; }

.iUpload { background: url(../imgs/icons/dark/upload.png) no-repeat 12px; }

.iUser { background: url(../imgs/icons/dark/user.png) no-repeat 12px; }

.iUser2 { background: url(../imgs/icons/dark/user2.png) no-repeat 12px; }

.iUserComment { background: url(../imgs/icons/dark/userComment.png) no-repeat 12px; }

.iUsers { background: url(../imgs/icons/dark/users.png) no-repeat 12px; }

.iUsers2 { background: url(../imgs/icons/dark/users2.png) no-repeat 12px; }



.iVault { background: url(../imgs/icons/dark/vault.png) no-repeat 12px; }

.iVcard { background: url(../imgs/icons/dark/vcard.png) no-repeat 12px; }

.iView { background: url(../imgs/icons/dark/view.png) no-repeat 12px; }

.iVimeo { background: url(../imgs/icons/dark/vimeo.png) no-repeat 12px; }

.iVimeo2 { background: url(../imgs/icons/dark/vimeo2.png) no-repeat 12px; }



.iWalkingMan { background: url(../imgs/icons/dark/walkingMan.png) no-repeat 12px; }

.iWifi { background: url(../imgs/icons/dark/wifi.png) no-repeat 12px; }

.iWifi2 { background: url(../imgs/icons/dark/wifi2.png) no-repeat 12px; }

.iWindows { background: url(../imgs/icons/dark/windows.png) no-repeat 12px; }

.iWordDoc { background: url(../imgs/icons/dark/wordDoc.png) no-repeat 12px; }

.iWordpress { background: url(../imgs/icons/dark/wordpress.png) no-repeat 12px; }

.iWordpress2 { background: url(../imgs/icons/dark/wordpress2.png) no-repeat 12px; }



.iYoutube { background: url(../imgs/icons/dark/youtube.png) no-repeat 12px; }



.iZip { background: url(../imgs/icons/dark/zip.png) no-repeat 12px; }

.iZipFiles { background: url(../imgs/icons/dark/zipFiles.png) no-repeat 12px; }

